*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Cabin', sans-serif;
}
.registry{
    background-image: url(img-page/fondo-registro.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
#logo{
    width: 35%;
    margin-top: 15%;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 35%;
}
#face{
    width: 5%;
}
#gmail{
    width: 5%;
}
.modal{

position: fixed;
margin-right: 50%;
top:0;
bottom: 0;
left: 0;
right: 0;
display: flex;
align-items: center;
justify-content: center;

visibility: hidden;
}
.active {
    visibility: visible;
}

.modal-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ecdada;;
    width: 70%;
    height: 80vh;
    align-items: center;
    margin-right: 70%;
    text-align: center;
     
 }


 a.cerrar, .terminos {
  text-decoration: none;
 }

a.cerrar{
margin-left: 80%;
margin-bottom: 10%;
font-size: 25px;
font-family: sans-serif;
font-weight: bold;
}

.label {
width: 100%;
font-size: 15px;
text-align: center;
}
 
.modal-content input {
   margin-top: 10px;
   display: flex;
   justify-content: flex-start;
   }
.modal-content input[type="radio"] {
       display:inline;
   }

   figure img{
       padding:1rem;
       margin-left: 1rem;
   }
   
   .tabla {
       height: 10vh;
   }

.content{
    background: rgb(230, 224, 240);
    max-width: 960px;
    margin: 30px auto;
   
    padding:  20px 30px;
    border-radius: 10px 120px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
}
span{
    display: block;
    font-size: 16px;
    margin-top: 6px;
    color: rgb(48, 160, 104);
}
   span {
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    border: solid 1px red;
    width: 50%;
    height: 10vh;
    text-align: center;
    padding: 10px 0;
    justify-content: center;
    
   }